[2019-06-13 20:54] AdamSzopa opened #1 "Dota Underlords crash when launching"
#### Your system information

* Steam client version (build number or date): Jun 12 2019 build
* Distribution (e.g. Ubuntu): KDE Neon (Ububtu LTS based)
* Opted into Steam client beta?: Yes
* Have you checked for system updates?: Yes

#### Please describe your issue in as much detail as possible:
Seg fault when starting the game, log: https://gist.github.com/AdamSzopa/0ab39acd77c377eac055095f6135b

[2019-06-13 21:01] questionmarkquestionmark commented on #1
My game will also fail to launch using steam client, if underlord.sh is ran from the bin folder in install location the game will launch albeit without video.

[2019-06-13 21:02] danginsburg commented on #1
We're going to open a new repo for Underlords issues, but in the meantime can you run with -con_logfile in your command-line and post the contents of ~/.steam/steam/steamapps/common/Underlords/game/dac/console.log

Also, please post your system information.  You need Vulkan support for it to work.  If you launch from the command-line please add -vulkan.

[2019-06-13 21:05] questionmarkquestionmark commented on #1
Once i launched commandline with -vulkan i got a segfault as well. I've attached my console.log
I have vulkan setup properly; i play dota 2 in vulkan mode.
[console.log](https://github.com/ValveSoftware/steam-for-linux/files/3288097/console.log)

[2019-06-13 21:06] AdamSzopa commented on #1
My console.log: https://gist.github.com/AdamSzopa/c7bfb96231cfc6a34952d330a127043e
My sys info (I run other Vulkan games fine): https://gist.github.com/AdamSzopa/abd4233327392e580df5c9fe38384776

[2019-06-13 21:06] danginsburg commented on #1
Can you try running with -vulkan_disable_steam_shader_cache and see if that helps?

[2019-06-13 21:07] AdamSzopa commented on #1
Yup, opened fine with this!

[2019-06-13 21:08] danginsburg commented on #1
OK, thanks I'll work on a fix.

[2019-06-13 21:09] danginsburg commented on #1
Can you upload ~/.steam/steam/steamapps/shadercache/1046930/steam_pipeline_cache.foz?

[2019-06-13 21:11] questionmarkquestionmark commented on #1
Fixed for me as well. Here's my pipeline file.

[steam_pipeline_cache.foz.zip](https://github.com/ValveSoftware/steam-for-linux/files/3288110/steam_pipeline_cache.foz.zip)

[2019-06-13 21:11] AdamSzopa commented on #1
https://send.firefox.com/download/bf9a2a61600e9ae7/#BLI37H1fBRyJKT8AvyAryA

[2019-06-13 21:39] danginsburg commented on #1
Fix incoming.

[2019-06-13 23:20] theLastOfCats opened #2 "Spectate and Main Menu buttons aren't visible until relaunch"
#### Your system information

* System information: Windows 10 1903
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
Spectate and Main Menu button aren't visible until relaunch and reconnect

#### Steps for reproducing thi

[2019-06-13 23:22] propeeves commented on #1
On Arch I wasn't able to launch properly without first installing `libpng12` and `libudev0-shim` - then I was able to play with the `-vulkan_disable_steam_shader_cache` command line flag (when launching from underlords.sh)

Not sure if this helps the devs, but just for anyone who googles the question.

[2019-06-13 23:53] danginsburg commented on #1
Fix is out, you should be able to remove `-vulkan_disable_steam_shader_cache` now

[2019-06-13 23:53] #1 closed, assigned to danginsburg

[2019-06-13 23:54] torvitas commented on #1
Works for me, thank you!

[2019-06-14 01:20] gdrewb-valve commented on #2
This issue tracker is only for Linux/Mac issues, but I believe this has already been fixed.

[2019-06-14 01:20] #2 closed, assigned to nobody

[2019-06-14 08:45] thomastondeur opened #3 "Game won't launch on Ubuntu 18.04 (Intel HD Graphics)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/lokixlqnt/5dd77ec6b938efd1654c30ca1e656a02
* Have you checked for system updates?: **Yes**
* Are you using the latest stable video driver available for your system? **Yes**
* Have you verified the game files?: **Yes**

#### Please

[2019-06-14 09:52] builder-247 commented on #3
I'm having the same issue, Linux Mint Cinnamon

[2019-06-14 11:18] AdamSzopa commented on #3
Are you sure the i3-7020U CPU support Vulkan? I could't find any confirmation. And Vulkan is required.

[2019-06-14 11:19] danginsburg commented on #3
I think HD 620 KBL should support Vulkan - user is on mesa 18.2.8.  Is it possible for you to try a newer version of mesa?

[2019-06-14 11:59] thomastondeur commented on #3
Updated to mesa v19.2, didn't fix it. I still get the same errors, when I both run from Steam or from underlords.sh

[2019-06-14 12:29] Jayman2000 commented on #3
I have a laptop with Ubuntu 18.04 and Intel integrated graphics, and I had this same problem. I fixed it by doing:
1. `# apt-get install mesa-vulkan-drivers vulkan-utils`
2. Reboot
3. `$ vulkaninfo`
(this was just to make sure that my system supported Vulkan)

[2019-06-14 12:46] Pobega opened #4 "Invisible character models on non-native resolutions (desktop-friendly fullscreen)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Pobega/824d9aa4d1bfefb9973417f0e3c970bb
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes (Flatpak Mesa)
* Have you verified the game files?: Yes

#### Please

[2019-06-14 12:47] AngryPenguinPL opened #5 "Any hope for OpenGL?"
Hi.

While on my old PC with Linux Dota 2 works quite well (still). Unfortunately, I can not run Dota Underlords because it requires the Vulkan API.

Unfortunately, my old Radeon HD 5850 card does not support Vulkan.

Do you have any plans for adding OpenGL support?

[2019-06-14 12:57] thomastondeur commented on #3
Thanks a lot!!! This fixed it !

[2019-06-14 12:58] #3 closed, assigned to nobody

[2019-06-14 13:54] danginsburg commented on #5
Sorry, currently we require Vulkan and at the moment are not planning to support OpenGL.

[2019-06-14 13:54] #5 closed, assigned to nobody

[2019-06-14 14:28] danginsburg commented on #4
I'm not sure there is anything I can do if you can't update mesa, but I would like to figure out what is the minimum mesa version that is running it properly on Intel HD Graphics so we can recommend that to people.

[2019-06-14 14:29] danginsburg commented on #4
For what it's worth I had personally tested Skylake with mesa 18.3.3 and it was working fine.

[2019-06-14 14:36] Pobega commented on #4
Yep, I'm not expecting a fix but I figure it was worth documenting.

I'm not 100% sure the issue is related to Mesa, that's just a hunch based on something @.kisak-valve mentioned in another issue related to Proton: https://github.com/ValveSoftware/Proton/issues/2476#issuecomment-480257514

I was hoping to just have it confirmed whether the VK_EXT_transform_feedback was being used by Underlords.

[2019-06-14 14:37] danginsburg commented on #4
Nope, doesn't use VK_EXT_transform_feedback and also doesn't run through DXVK/Proton.  Source 2 is using its own Vulkan renderer directly.

[2019-06-14 14:38] danginsburg commented on #4
Oh - wait, are you running the Windows version through Proton instead of the native version?

[2019-06-14 14:39] Pobega commented on #4
Right, I know it's native I was just (perhaps naively) assuming that the transform kisak mentioned was being used (since if that transform was missing in Mesa it'd effect both DXVK **and** native Vulkan apps.)

And no, I'm running it native.

[2019-06-14 14:41] Pobega commented on #4
If it works on 18.3.3 as you mentioned and I'm seeing this issue on 18.3.6 in the Flatpak the issue may not be related to Mesa at all, then.

Of note is that it works fine on my desktop running Steam Flatpak with Nvidia 418-74

[2019-06-14 14:43] AngryPenguinPL commented on #5
Thanks for reply.

Can you tell me one more thing, is the Windows version also Vulkan only or is it working on DirectX 9/10/11?

I'm asking because I'm wondering if it can be run via SteamPlay in Proton?

[2019-06-14 14:44] danginsburg commented on #5
Windows version is DX11.

[2019-06-14 14:45] AngryPenguinPL commented on #5
Thanks :)

[2019-06-15 05:26] Pobega commented on #4
I messed around with the settings a bit more, this seems to be related to running at any non-native resolution. When I went back to 1080p it worked as expected.

Apologies for not testing that first, I'm so used to turning down the resolution on Intel HD graphics I didn't even consider that would be the issue.

[2019-06-15 17:10] LiamDawe opened #6 "Have the battle pass, not seeing Dota Underlords in my steam?"
So in the blog post, it mentioned anyone with the Battle Pass in Dota 2 will be given the test.

I own the Battle Pass but I am not seeing it in my Steam Library? Tried restarting, verified my Dota 2 install picks up my Battle Pass (it's there).

What am I missing?

[2019-06-15 17:18] LiamDawe commented on #6
Silly me, you need to activate it in Dota 2 :)

[2019-06-15 17:18] #6 closed, assigned to nobody

[2019-06-16 23:01] Jayman2000 opened #7 "No quit button in mobile UI"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Jayman2000/1313137164208281a9d9ecaaa044aa6d
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe yo

[2019-06-17 02:24] nisabuan opened #8 "No game display only sounds"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/nisabuan/79f85687bf1dc7b64391a1f5052c4b72):
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail

[2019-06-17 12:24] kisak-valve commented on #8
Hello @nisabuan, this issue tracker is limited to issues with the Mac and Linux port of Dota Underlords.

Please use https://www.valvesoftware.com/en/contact?recipient=Dota+Underlords+Team for issues with the game on Windows.

[2019-06-17 12:24] #8 closed, assigned to nobody

[2019-06-17 16:57] danginsburg commented on #7
This tracker is for Linux/macOS-specific issues, although I'll pass this along.

[2019-06-17 16:57] #7 closed, assigned to nobody

[2019-06-17 16:58] danginsburg commented on #4
Good lead, thanks.  I'm going to see if I can repro here.

[2019-06-19 04:13] dongshimou commented on #1
maybe install some ? like
`apt install libvulkan1 mesa-vulkan-drivers vulkan-utils`

[2019-06-19 15:45] elotrocoso opened #9 "Vulcan not Supported, Any chance for a Battlepass refund?"
I know this is not the right place for asking this, but I honestly do not know where else to ask. I have no interest in dota and only bought the battle pass to play underlords early, unfortunately I had no access to the information regarding the incompatibility with my GPU. Is there any chance to get a refund. Also, will the open beta be accessible on mobile?
Sorry for the bother!

[2019-06-19 15:59] kisak-valve commented on #9
Hello @elotrocoso, what video card / driver version are you using? Please copy your system information from Steam (`Steam` -> `Help` -> `System Information`) and put it in a [gist](https://gist.github.com/), then include a link to the gist in this issue report.

Account issues including refunds are not handled on this issue tracker. Please use [Steam Support](https://help.steampowered.com/en/) for

[2019-06-19 16:12] elotrocoso commented on #9
Hi Kisak, Im using a AMD Radeon HD 6490M, driver ver. 1.2, here is the GIST:
https://gist.github.com/elotrocoso/abe5f03c94b6a6f8165f19700b31df04

[2019-06-19 16:23] kisak-valve commented on #9
The AMD Radeon HD 6490M is a Terascale 2 architecture chipset. There are no video drivers that support Vulkan (or Metal with macOS) on this hardware generation.

[2019-06-19 16:23] #9 closed, assigned to nobody

[2019-06-20 09:21] eeyrjmr opened #10 "Game fails to end"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/eeyrjmr/446c791fdd0e0860cbcb3102dbd01373):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as much de

[2019-06-20 15:28] orcololo opened #11 "Blank UI elements on Linux."
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/orcololo/3a642e1133fc718f7362bd14ef1eb6ff
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

[2019-06-20 15:33] jazztickets opened #12 "Hero descriptions hard to read in Hero book"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/jazztickets/ec290c38deb7fa8db404
* Have you checked for system updates?: yes
* Are you using the latest stable video driver available for your system? yes
* Have you verified the game files?: yes

#### Please describe your issue in

[2019-06-20 15:34] danginsburg commented on #11
Can you try dropping to a terminal and posting the output of doing something like this:

```~/.steam/steam/steamapps/common/Underlords/game$ ~/.steam/steam/ubuntu12_32/steam-runtime/run.sh ./underlords.sh -con_logfile```

Also posting game/dac/console.log may be useful.

It looks like you're missing fonts.

[2019-06-20 15:48] orcololo commented on #11
When I try to run `~/.steam/steam/steamapps/common/Underlords/game$ ~/.steam/steam/ubuntu12_32/steam-runtime/run.sh ./underlords.sh` -con_logfile, it says that `~/.steam/steam/ubuntu12_32/steam-runtime/run.sh` doesn't exist.

game/dac/console.log:
https://gist.github.com/orcololo/a9c1377a0e0434db7f76f0b1780b657c

[2019-06-20 15:53] danginsburg commented on #11
Hmm...console.log doesn't have any clues that I see, but it won't show failures to load .so files.  Well, you may just be able to run underlords.sh directly.  If not, find wherever your steam folder is and you should have run.sh (something like find ~/.steam/steam/ -iname "run.sh").

[2019-06-20 16:49] WithMistake opened #13 "Crash game with system after 5-10 minutes"
elementary OS 5.0 Juno (64 bit)
 Kernel Name:  Linux
 Kernel Version:  4.15.0-52-generic

2. Check updates: Yes
3.  Video drive: Yes, last
4. Verifed game files: Yes

I don't know what problem, but after 5-10 minutes game and system crash. I can't do anathyning and I must reboot system. I can't check log. Is it problem game or is it problem with my driver?

[2019-06-20 17:21] kisak-valve commented on #13
Hello @Vendetta131, what video card / driver version are you using? If possible, please check if you can ssh into the system and if you can, check `dmesg` for any relevant info.

[2019-06-20 20:11] WithMistake commented on #13
description: VGA compatible controller
       product: Haswell-ULT Integrated Graphics Controller
       vendor: Intel Corporation
       physical id: 2
       bus info: pci@0000:00:02.0
       version: 0b
       width: 64 bits
       clock: 33MHz
       capabilities: msi pm vga_controller bus_master cap_list rom
       configuration: driver=i915 latency=0
       resources: irq:44 memory:f0000000-

[2019-06-20 20:47] WithMistake commented on #13
I reinstall vulkan driver and now work fine. Sorry for the trouble.

[2019-06-20 20:47] #13 closed, assigned to nobody

[2019-06-21 04:21] orcololo commented on #11
Got it to work switching to arch, looks like it was some outdated driver issue...but now game runs at -30fps. :(

[2019-06-21 04:22] orcololo commented on #10
Same here. :(

[2019-06-22 15:10] jenqaz commented on #11
Hi!
I have the same issue. Here's my config.log and settings

[Steam settings](https://gist.github.com/jenqaz/c7458d9a7a9aa488f2b98c5bc87ff648)
[Console.log](https://gist.github.com/jenqaz/68f02f871aee14cf3b8ab5564e9e0f13)
[Screenshot](https://imgur.com/GGvHXmz)

[2019-06-22 15:16] orcololo commented on #11
Hey, @jenqaz have you tried updating intel graphics driver via oibaf's ppa? This solved my problem while using ubuntu 19.04

[2019-06-22 15:28] kisak-valve commented on #11
Ivybridge and Haswell does not have hardware support for texture swizzles and needs a mesa build with https://cgit.freedesktop.org/mesa/mesa/commit/?id=d2aa65eb1892f7b300ac24560f9dbda6b600b5a7 for the Source 2 engine to render properly with Vulkan.

This is unrelated to the issue you encountered @orcololo.

[2019-06-22 22:40] srvmux commented on #1
I've tried installing vulkan packages from CLI on ubuntu 18.10, at first it used to say "couldn't initialize vulkan drivers" or something similar but now it says "CreateSwapChain(): the selected graphics queue does not support presenting a swap chain image."
from what I'm observing here is that I'm using an intel graphics card and vulkan requires AMD or Nvidia, this is probably the problem...
but

[2019-06-23 14:19] jenqaz commented on #11
Thanks a lot @orcololo `sudo add-apt-repository ppa:oibaf/graphics-drivers` solved the problem!

[2019-06-23 18:58] NickCageNick commented on #11
Hello Friends! I have the same problem in Manjaro/Arch Linux
Someone here have any idea what is happening?
Otherwise some ppl in Reddit are talking about the same error in Dota 2 but I don't find any solution with this.
The old issue in Dota 2 is about one lib in Steam/steamapps/common/Underlords/game/bin/linuxsteamrt64/ called 'libpango.so' this specific solution doesn't work but I think the solu

[2019-06-23 19:02] kisak-valve commented on #11
Hello @NickCageNick, you have the same issue that @jenqaz had. Mesa 19.0.6 is too old for this game and Intel Ivybridge. Please update to mesa 19.1.0 (or newer).

[2019-06-23 19:31] nicolas-oliveira commented on #11
@kisak-valve Thanks for the answer, setting the system to branch testing solve the problem in Manjaro.
sudo pacman-mirrors --api --set-branch testing
sudo pacman-mirrors --fasttrack 5 && sudo pacman -Syyu

[2019-06-26 13:13] Yossarian0916 commented on #1
My system info:
+ Ubuntu 18.04
+ Nvidia GTX 1050 mx
+ nvidia-smi 420

When I launched the Underlords, it throws `Error: CreateSwapChain(): Unable to query size of supported swapchain formats.` Then I tried to launch it with `-gl` option using OpenGL, but I only got a black screen after it launched. Could someone help me find the problem?

my `console.log` (without any launch options):
[code]

[2019-06-26 15:34] 010110101001 opened #14 "Dota Underlords: Failed to Initialize Vulkan"
#### Your system information

* System information from steam:  https://pastebin.com/5c5hgnXM
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? I think so I just installed Ubuntu
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:

I'm trying to play Dota Underlords here on my U

[2019-06-26 15:38] kisak-valve commented on #14
Hello @010110101001, Intel Ironlake (Gen 5 graphics) does not support Vulkan, The oldest generation of Intel chipset that can run this game is Ivybridge (Gen 7 graphics).

There's no way around this for you without newer hardware.

[2019-06-26 15:38] #14 closed, assigned to nobody

[2019-06-26 15:42] 010110101001 commented on #14
Oh, I tried installing Windows here on my laptop and the game works...

[2019-06-26 15:43] 010110101001 commented on #14
Oh, I tried installing Windows here on my laptop and the game works... Does that mean it dont need Vulkan in Windows?

[2019-06-27 22:08] #12 closed, assigned to nobody

[2019-06-30 12:19] Nutjob opened #15 "Complete System Freeze on Linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/Nutjob/9a1e4d52ae9ed4332c53e93a4e3df551
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

[2019-07-01 23:05] skeet70 opened #16 "Missing models in encyclopedia/bench/shop"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/skeet70/caa3f7db9a0d724c0bdaebb46ba6736e
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your

[2019-07-02 19:10] ykvch commented on #11
My terminal log shows during launch: https://gist.github.com/ykvch/71d82c475ac6d83853d14277ba494e03
Maybe that'd be helpful (archlinux).

[2019-07-03 09:10] ykvch commented on #11
There 2 PCs running manjaro linux (both have mesa 19.0.6), very similar, but only one of them shows blanks instead of text.
Possibly some log-diffs could help investigating?
So far the only seemingly important diff-message on host with issue (mesa 19.0.6):
`INTEL-MESA: warning: Ivy Bridge Vulkan support is incomplete`

upd.: `mesa` package upgrade 19.0.6 -> 19.1.1 indeed helped to fix the issue.

[2019-07-04 19:12] Kylmakalle opened #17 "Invisible developer console"
#### Your system information

* System information from steam https://gist.github.com/Kylmakalle/34480567a28828fbbd1c872ec44e10cd
* Have you checked for system updates?: Y
* Are you using the latest stable video driver available for your system? Y
* Have you verified the game files?: Y

#### Please describe your issue in as much detail as possible:
Console is invisible when opening. It's appears o

[2019-07-05 14:01] pixelr0 opened #18 "Ranged creep wrong stats: Attack rate and DPS"
Ranged creep wrong stats: Attack rate and DPS (see attached image)
Atack rate is LOC_Number_InfinitySho and DPS -2,147,483,684

OS: Ubuntu Linux

![error](https://user-images.githubusercontent.com/333589/60727429-8afeeb00-9f46-11e9-95a5-d85a7cf0e0d4.png)

[2019-07-07 10:30] bastimeyer opened #19 "Game crashes with signal SIGFPE (Floating point exception)"
#### Your system information

* System information from steam:
  https://gist.github.com/bastimeyer/e63890fb0f2bc6ceb1d301e622749c6f
* Have you checked for system updates?
  Yes, everything is up2date
* Are you using the latest stable video driver available for your system?
  Yes
* Have you verified the game files?
  Yes

#### Please describe your issue in as much detail as possible:

Game crashes

[2019-07-07 12:18] kisak-valve commented on #19
Hello @bastimeyer, this is the same issue as https://github.com/ValveSoftware/Dota-2-Vulkan/issues/315.

You should be able to workaround the issue by adding `-vulkan_disable_steam_shader_cache` to the game's launch options.

[2019-07-07 18:53] ChristophHaag opened #20 "rare crash in panorama"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
[sysinfo.txt](https://github.com/ValveSoftware/Dota-Underlords/files/3365996/sysinfo.txt)
* Have you checked for system updates?: Up to date Archlinux
* Are you using the latest stable video driver available for your system? Mesa git on Vega 64, but seems

[2019-07-08 11:33] fartyg opened #21 "Crash unless -vulkan_disable_steam_shader_cache"
Hello,

* System information and console.log:
 https://gist.github.com/fartyg/f208ba5aeb4183395f259064b7208769
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

Dota Underlords have previously been working perfectly without any custom launch options.
Have not played in a few days and h

[2019-07-08 12:22] kisak-valve commented on #21
Hello @fartyg, this issue is already being tracked at #19. Closing as a duplicate.

[2019-07-08 12:22] #21 closed, assigned to nobody

[2019-07-08 21:34] gdrewb-valve commented on #20
This is happening on all platforms and the larger team will handle it.

[2019-07-08 21:34] #20 closed, assigned to danginsburg

[2019-07-08 21:34] gdrewb-valve commented on #18
This is happening on all platforms and the larger team will handle it.

[2019-07-08 21:34] #18 closed, assigned to nobody

[2019-07-08 21:34] gdrewb-valve commented on #10
This is happening on all platforms and the larger team will handle it.

[2019-07-08 21:34] #10 closed, assigned to nobody

[2019-07-08 22:04] gdrewb-valve commented on #10
The larger team says that one cause of this has been fixed but they're not sure if it's completely fixed.  If you're still experiencing this with a current (from early July) update please comment again.

[2019-07-09 23:54] weltenwort commented on #19
Manually removing the shader cache files seems to have fixed it for me without the necessity for adding the launch option.

[2019-07-10 13:07] andrewzah opened #22 "Issues related to 144hz monitor (maybe?)"
#### Your system information

* System information from steam: https://gist.github.com/azah/1b74f40411d8fae20523ad023f9f0a82
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: No

#### Other System Information

* Debian 9 Stretch
* No desktop environment, just i3 for window management

####

[2019-07-13 10:46] lesderid opened #23 "Game crashes due to failed memory allocations (Linux+Nvidia+Vulkan)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/lesderid/de74593ca9efe3ec49da24e4bedca641
* Have you checked for system updates? Yes
* Are you using the latest stable video driver available for your system? Yes (Vulkan beta driver for Linux from https://developer.nvidia.com/vulk

[2019-07-14 15:20] jazztickets opened #24 "Matchmaking Status pop-up missing icon"
#### Your system information

Archlinux

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.githubusercontent.com/jazztickets/ec290c38deb7fa8db404/raw/ec8e6d1796671c70541dae21863ed40aa2106eca/gistfile1.txt
* Have you checked for system updates?: yes
* Are you using the latest stable video driver available for your system?

[2019-07-15 22:06] felixmr1 commented on #1
For me it crashes if I **do not** use -vulkan_disable_steam_shader_cache

OS: Arch Linux x86_64

Kernel: 5.1.16-arch1-1-ARCH

vulkan-intel 19.1.1-1

When running the .sh file with -con_logfile I get this
[console.log](https://github.com/ValveSoftware/Dota-Underlords/files/3394247/console.log)

[2019-07-15 22:13] kisak-valve commented on #1
Hello @TheFelixR, you've most likely encountered #19 when using mesa/ANV 19.1. The workaround is the same as this issue report.

[2019-07-17 00:16] Kylmakalle commented on #17
Solution for Windows

Type `-vconsole` on launch options and then start vconsole2.exe at \Steam\steamapps\common\Underlords\game\bin\win64

[2019-07-17 00:16] #17 closed, assigned to nobody

[2019-07-18 05:37] xd21303 opened #25 "'console.log' file size limit"
System information from steam
https://gist.github.com/xd21303/5906323f696a07b26a6cfac9e2b2fa64

The console.log file fills up my disk space, which is 757GB.

The log content is all these as follows

[code]

The log size should be set to a limit and cannot be increased indefinitely.

[2019-07-18 19:44] katyacm opened #26 "Underlords appears as invisible window, Vulkan missing requested extension errors"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
[My System Info](https://gist.github.com/trenzafeeds/708bc3601a25667cccb1c20ca11975de)
Note: is seems that steam is unable to detect the make and model of my machine. It is an Acer Chromebook CB5-571-58HF. GalliurmOS is running on stock firmware.

* Have

[2019-07-18 19:55] kisak-valve commented on #26
Hello @trenzafeeds,
[code]
This looks like the relevant bit of your logs, can you give https://askubuntu.com/questions/817226/how-to-enable-dri3-on-ubuntu-16-04 a read and see if it helps?

[2019-07-21 23:03] IceAmaura opened #27 "Desktop-friendly Fullscreen causes LOD flashing"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/IceAmaura/6cf93493d7a561afb5e0772d4848c93f
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Ye

[2019-07-21 23:19] kisak-valve commented on #27
Hello @IceAmaura, can you check if your gnome session is running with X or wayland? If it's gnome/wayland, can you check if gnome/X is also affected?

[2019-07-21 23:31] IceAmaura commented on #27
Checking XDG_SESSION_TYPE does show Gnome is on X11, not on Wayland.

[2019-07-22 12:46] kisak-valve commented on #26
Closing as this is a general system config issue preventing any Vulkan application from rendering on the system in question.

[2019-07-22 12:46] #26 closed, assigned to nobody

[2019-07-22 13:34] danginsburg commented on #27
Can you run with -con_logfile and upload the log?  My best guess is that VK_KHR_memory_budget is returning small values for amount of remaining GPU memory and we are constantly thrashing with the texture streamer.  You may get better results by lowering the texture quality in the video settings since it will put less pressure on GPU memory.  I don't know why there would be a difference in KDE vs G

[2019-07-22 13:38] IceAmaura commented on #27
Hi Dan,

I did some more extensive testing last night and was going to write it up
this morning, but you are correct on the video memory per DE theory. The
issue does happen on KDE, just much later than Gnome, where the issue is
apparent immediately. Lowering textures did nearly resolve the issue but
still had light flickering. When I get access to the PC I'll get back to
you with that log.

On Mo

[2019-07-22 14:03] danginsburg commented on #25
console.log is not written by default, you must have added -con_logfile to your Launch Options?  You can add -conclearlog to delete the log each run.  Or you can add -conrotate # to have it rotate amongst N copies.  Any of these should keep the log file from continuously growing across runs.

[2019-07-22 14:03] #25 closed, assigned to nobody

[2019-07-23 02:21] IceAmaura commented on #27
[Here](https://gist.github.com/IceAmaura/b7c9eac81056f5cfe1c49a344823bfcc) is the gist of the log. As predicted there's a ton of extremely low memory errors.

[2019-07-23 12:23] danginsburg commented on #27
Thanks @IceAmaura - so it looks like VK_EXT_memory_budget is giving us 690MB of GPU memory to work with.  The texture streamer starts reducing the texture pool size once we reach 80% of the budget as a heuristic.  This pushes the pool size all the way down to 300MB and starts thrashing.

I will look into seeing if I can improve the texture streaming behavior in this scenario.

[2019-07-23 12:25] danginsburg commented on #27
Also, for now, you could try adding -vulkan_disable_ext_memory_budget to your Launch Options.  This will set the pool size based on GPU memory on the device rather than what is available.  Unfortunately, you may hit crashes instead of thrashing if we fail GPU memory allocations, but if everything fits it may behave OK.  I'd also suggest turning your texture quality down to the lowest settings.

[2019-07-23 13:12] IceAmaura commented on #27
Alright. In case anyone else comes along with the same issue, I measured
VRAM usage and KDE uses significantly less, so if I want to play Underlords
I restart my PC to flush the VRAM and switch to KDE to play for now.

On Tue, Jul 23, 2019, 6:25 AM Dan Ginsburg <notifications@github.com> wrote:

[2019-07-27 00:06] tupiniking opened #28 "I'm a noob trying to run dota underlords in my ubuntu 16.04"
I downloaded the game and when i run a get this error:
------------------------------------------------------------------------------------------------------------x----
Error

CreateSWapChain():
The selected graphics queue does not support presenting a swapchain image.
So i started searching the internet and found out that this is somehow related to the direct rendering of my graphic card, it isn'

[2019-07-27 00:07] tupiniking commented on #28
the #131 commentary is actually this one:
https://github.com/mit-fast/FlightGoggles/issues/131

[2019-07-27 00:15] kisak-valve commented on #28
Hello @tupiniking, this sounds similar to https://github.com/ValveSoftware/Dota-Underlords/issues/26#issuecomment-512963679 except you appear to be using an nvidia optimus laptop. There's a good chance X needs to be configured to use DRI3 to use Intel's Vulkan driver or look into using [primus_vk](https://github.com/felixdoerre/primus_vk) to get the nVidia driver to render to the screen.

[2019-07-27 01:01] tupiniking commented on #28
![Screenshot from 2019-07-26 21-00-59](https://user-images.githubusercontent.com/53354094/61987901-9050d200-afe8-11e9-94fa-2d58e6b9622f.png)

[2019-07-27 01:02] tupiniking commented on #28
i can't seem to find the correct file to change the text to DRI 3, i actually searched it a lot yesterday

[2019-07-27 01:04] tupiniking commented on #28
![Screenshot from 2019-07-26 21-03-43](https://user-images.githubusercontent.com/53354094/61987928-e6257a00-afe8-11e9-865d-ca31e8c6de9e.png)

[2019-07-27 10:39] Muffindrake commented on #28
Hello, I'm using a (more recent) nvidia optimus laptop, and I have already configured it such that everything is rendered on the nvidia card, where the intel card serves only to display the already-rendered frames. This using nvidia's built-in "support" called PRIME, which is presently the only official way to make full use of your dedicated card on such a system, which stays turned on as long as

[2019-07-28 16:30] eantz commented on #1
For those who still encountered this issue, try to run `sudo vulkaninfo` before running the game. The command will do nothing but displaying a lot of information that I (and you) may not understand. However, in my case, after running that command, the game is successfully launched.

I'm not sure why it works

Reference [https://steamcommunity.com/app/221410/discussions/0/1743353798891462189/](http

[2019-08-02 05:42] Pobega commented on #16
Looks like the same issue I saw: https://github.com/ValveSoftware/Dota-Underlords/issues/4

Are you running the game at a non-native resolution?

[2019-08-02 14:50] skeet70 commented on #16
I've tried it at pretty much every resolution, including native.

[2019-08-04 10:39] olipinski commented on #1
I have the same issue as @Yossarian0916 Ubuntu 19.04 with NVidia 860M

[2019-08-07 16:46] andrefmandrade opened #29 "Used to play 2560x1080 now I can't"
#### Your system information

* System information from steam: [Steam Sys. Information](https://gist.github.com/andrefmandrade/dd541b543b05ca5c419cfa532caab6f6)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?:  Yes

#### Please describe your issue in as much detail as possible:
Can't play

[2019-08-07 17:37] andrefmandrade commented on #29
Workaround: Changed my resolution settings at \Underlords\game\dac\cfg ->Video.txt
`"setting.defaultres"		"2560"
	"setting.defaultresheight"		"1080"`
But I still [can't](https://imgur.com/KJT9Jxl) select my native resolution ingame how I used to do

[2019-08-11 10:55] felixmr1 commented on #1
@Exoyds Do you have vulkan installed?

[2019-08-13 15:42] olipinski commented on #1
@TheFelixR I only installed Dota Underlords from Steam, without any additional stuff.
Now I have installed vulkan-utils, and upon running sudo vulkaninfo I can start DU .

I can report more if needed, just let me know what would be useful to include.

[2019-08-15 19:07] danginsburg commented on #27
I'm going to close out this bug because I believe the underlying behavior when memory gets low has been fixed.  If you see it happen again with the latest build of Underlords please let me know and provide console log.

[2019-08-15 19:07] #27 closed, assigned to danginsburg

[2019-08-17 05:07] #29 closed, assigned to nobody

[2019-08-23 04:35] Muffindrake commented on #28
Underlords seems to launch properly for me as of the current version (build 231). I am not sure if a driver update fixed that (I am now on nvidia-drivers version 435.17) or there was a code change, but in any case, thank you.

[2019-08-28 21:52] skeet70 commented on #16
This issue is still present (and the same) on the most recent versions of everything as of today.

[2019-08-30 08:32] colas-sebastien opened #30 "2019-08-30 Today Underlords does not start (yesterday It was working)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
https://gist.github.com/colas-sebastien/9db271078c21c6771bd5bb33c353a219

* Have you checked for system updates?: Yes

* Are you using the latest stable video driver available for your system? Yes

* Have you verified the game files?: Yes

#### Please des

[2019-08-30 08:35] colas-sebastien commented on #30
Here is my dump file:
[dump.zip](https://github.com/ValveSoftware/Dota-Underlords/files/3559009/dump.zip)

[2019-08-30 08:44] colas-sebastien commented on #30
I read all the close issues and I launched my game with:

It is working well

[2019-08-30 09:54] sysofd commented on #30
I confirm this problem

[2019-08-30 09:56] sysofd commented on #30
Maybe clean shader cache fixed this problem ?

[2019-08-30 10:07] sysofd commented on #30
What video driver do you use?
I use nvidia 430.40

[2019-08-30 11:38] kisak-valve commented on #30
For reference, the attached minidump is a SIGSEGV in librendersystemvulkan.so.

[2019-08-30 14:58] colas-sebastien commented on #30
How can I clean my shader cache ?
My Nvidia version is: 430.40

[2019-08-30 14:59] mbedded commented on #30
I have the same issue. The solution from #1 helped me.

[2019-08-30 17:06] danginsburg commented on #30
Fix for this will ship in the next update.  Thanks for reporting.

[2019-08-30 17:11] colas-sebastien commented on #30
Thanks !!!!
I will test it on the next update

[2019-08-30 19:08] pixelr0 commented on #30
same here on Ubuntu 16.04 (first time i see this bug)
i had to launch the game with "-vulkan_disable_steam_shader_cache" to make it start

[2019-08-30 19:53] pixelr0 commented on #30
another thing that i've noticed before failure to start was the increasing startup time, from a couple of seconds at first to almost one minute! so there is something fishy with your shaders Valve!

[2019-08-30 21:26] stuartpb commented on #30
A quick way to clear the shader cache for Underlords, as a workaround until the fix is deployed: `rm -r ~/.steam/steam/steamapps/shadercache/1046930`

[2019-08-31 11:45] danginsburg commented on #30
Should be fixed now with the latest update.

[2019-08-31 11:45] #30 closed, assigned to danginsburg

[2019-09-27 08:25] ghost opened #31 "CreateSwapChain() error, tried workarounds, now just a blank windows"
#### Your system information

* System information from steam: [gist](https://gist.github.com/batuhanceylan/c740243b9e5614f912901187a1b01460)
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
I started getting CreateSwapCha

[2019-09-27 12:23] kisak-valve commented on #31
For reference, the attached minidump is a SIGSEGV in libtier0.so coming from librendersystemvulkan.so.

[2019-09-27 12:28] kisak-valve commented on #31
Hello @batuhanceylan, does any vulkan application work on your system?

`vulkan: No DRI3 support detected - required for presentation` in your log hints that you've encountered something similar to #26.

[2019-09-27 16:44] ThorodanBrom opened #32 "Underlords hangs with empty window"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/ThorodanBrom/1aa1cc0e8ce28a3d5df8bd3e0e87902e):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in as mu

[2019-09-27 17:00] kisak-valve commented on #32
Hello @ThorodanBrom, what version of mesa do you have installed on your system? Intel/Haswell has experimental vulkan support, which requires mesa 19.1.0 or newer for Dota Underlords and your nvidia 710M is a Fermi generation card, which does not support for vulkan.

Possible duplicate of #31.

[2019-09-27 20:20] ThorodanBrom commented on #32
I will have to check and tell you, in a while. But if I'm not wrong, I think I'm playing it on the Intel graphics, not on the Nvidia. (The second gist says Intel in a couple of places, that's how I'm guessing :))

Also, I've been playing since the first release, was it this release that stopped support for older cards?

On 27 Sep 2019 10:30 pm, kisak-valve <notifications@github.com> wrote:

Hello

[2019-09-30 07:01] ghost commented on #31
Is there a list of lightweight steam games with vulkan support? @kisak-valve

[2019-09-30 08:50] ThorodanBrom commented on #32
Hello @kisak-valve, thanks for mentioning checking the Mesa version - when I checked it, I realised that my PRIME profile switched to Nvidia. This was after I had updated my system to Linux Mint 19.2 Tina, which updated Mesa from 19.0.2 to 19.0.8. I switched back to Intel Graphics and it worked perfectly

However, you said that it should work only on 19.1.0, I don't know how it worked for me on 19

[2019-09-30 08:50] #32 closed, assigned to nobody

[2019-10-06 15:12] hxse opened #33 "Freeze when playing games in linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`)  [my system information](https://gist.github.com/hxse/f575e51ddd710ae948c39a4a6e2dcea7):
* Have you checked for system updates?: [Yes]
* Are you using the latest stable video driver available for your system? [Yes]
* Have you verified the game files?: [Yes]

#### Please describe your issue in

[2019-10-06 15:26] hxse commented on #15
I also encountered the same problem as you, this is my [issues](https://github.com/ValveSoftware/Dota-Underlords/issues/33).
I hope this problem is resolved soon.

[2019-10-08 22:07] gdrewb-valve commented on #11
This issue appears to be resolved by the various driver and system updates mentioned.

[2019-10-08 22:07] #11 closed, assigned to danginsburg

[2019-10-08 22:08] gdrewb-valve commented on #19
Closing as this should no longer be an issue.

[2019-10-08 22:08] #19 closed, assigned to danginsburg

[2019-10-08 22:09] gdrewb-valve commented on #24
This should be resolved now.

[2019-10-08 22:09] #24 closed, assigned to nobody

[2019-10-08 22:10] gdrewb-valve commented on #28
@tupiniking, were you able to get things working?  Can this issue be closed?

[2019-10-24 19:21] gdrewb-valve commented on #28
Closing pending feedback.

[2019-10-24 19:21] #28 closed, assigned to nobody

[2019-10-27 19:51] sysofd commented on #23
confirm this problem

[2019-10-28 18:51] jlubea opened #34 "Random crashes on Linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/jlubea/f9deaa9c67f5f510b9afe5fd57e9cbd8
* Have you checked for system updates?: Yes (Ubuntu 19.10)
* Are you using the latest stable video driver available for your system? Yes (ubuntu-driver-440)
* Have you verified the game files

[2019-10-28 18:56] kisak-valve commented on #34
For reference, the attached minidump is a SIGSEGV in libclient.so.

[2019-10-28 18:56] jlubea commented on #34
I pulled the dump from /tmp/dumps

Is there another location that I should pull a crash dump from?

[2019-10-29 01:58] stradus64 opened #35 "Game crashes sometimes during battles, Linux, AMD"
* System information from steam : https://gist.github.com/nadomodan/a26565023a1cc2b4f2842387f015e633
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

During the battle, at some point, usually during the later rounds the game just stops for few seconds and crashes, I relaunch the game

[2019-10-29 02:06] kisak-valve commented on #35
Hello @nadomodan, the backtrace you've provided is the same as #34. Closing in favor of the existing issue report.

[2019-10-29 02:06] #35 closed, assigned to nobody

[2019-10-29 15:55] skeet70 commented on #16
Appears to be fixed in the Big Update with the most recent everything + flatpak Steam on Arch.

[2019-10-29 15:55] #16 closed, assigned to danginsburg

[2019-10-29 16:08] shpinog commented on #34
I have the same problem. Archlinux, the latest drivers. Kernel is from the valve repository and the standard does not matter, it is still random crashes. I tried the amdvlk and mesa-aco drivers, took out the shader cache, anyway random crashes. There was no such problem before a major update.

[crash_20191029115140_1.dmp](url)

[2019-10-30 06:07] FrankieEnc commented on #34
same issue, same specs. turning the graphics setting to basic has helped(not more crashing during gameplay) but now the initial load is broken (sometimes the background doesn't load, it's all blue, and sometimes the hud doesn't load so i cannot buy) and every game requires a restart.

[2019-10-30 19:16] jlubea commented on #34
Another crash dump...
[dota-underlords-crashes-2.zip](https://github.com/ValveSoftware/Dota-Underlords/files/3790773/dota-underlords-crashes-2.zip)

[2019-10-31 23:38] stuartpb opened #36 "Streaming: Game does not start while display device is powered down"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/stuartpb/a2a2eaf9b698af722403b5aee04c095f
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your

[2019-11-02 02:37] jlubea commented on #34
A day or two ago a normal game update was released. I haven't had a crash for the past 2 days. Thanks to whoever fixed the client!

[2019-11-02 12:52] kisak-valve commented on #34
Closing per the last comment.

[2019-11-02 12:52] #34 closed, assigned to danginsburg

[2019-11-04 22:11] gdrewb-valve commented on #36
This doesn't appear to be an Underlords issue so we need to figure out where this feedback should go to.

When you do this without streaming what happens?  It'll obviously be inconvenient to use the UI without the monitor being on but if you position the mouse on the launch button, turn the monitor off, click the button, wait a while and then turn the monitor back on what do you see?  Did the game

[2019-11-06 06:40] stellarhopper opened #37 "Texture flickering issue reappeared after 'the big update'"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/stellarhopper/341bd08f8389a2b24ff773b62ce7be01
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe

[2019-11-06 16:38] gdrewb-valve commented on #36
Closing pending feedback.

[2019-11-06 16:38] #36 closed, assigned to danginsburg

[2019-11-06 17:08] danginsburg commented on #37
This seems surprising for it to be happening on a 4GB GPU since we should be using < 2GB.  Can you run with -con_logfile when this happens and upload game/dota/console.log?  Also, can you have nvidia-smi running and see how much GPU memory is consumed overall on the system?  I'm thinking it may be something else on your machine using up GPU memory causing us to start evicting textures to try to ma

[2019-11-07 19:13] stellarhopper commented on #37
@danginsburg I tried to reproduce this in a quick bot game but wasn't able to. I did notice that even before starting the game, I was using over 2G of the available 4G GPU memory:

[code]

During my test game, Underlords never rose to above 1325M or so (maxed out  all graphics settings):

[code]

So it seems reasonable that if the 2G limit was approached, or if I had say other chrome tabs or somet

[2019-11-08 21:30] dennis1du opened #38 "Ubuntu 18.04: LoadSYstemAndDependencies(): CAppSystemDict: Unable to load module client (Dependency of application), error 2"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/dennis1du/5a426f0f3feb1c85af0903dfe199b44b):

* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detai

[2019-11-08 21:48] kisak-valve commented on #38
Hello @dennis1du, does `/tmp/dumps/<username>_stdout.txt` or `~/.steam/error.log` have any hints?

[2019-11-08 21:58] dennis1du commented on #38
Hi @kisak-valve , I am not sure about the location `/tmp/dumps/<username>_stdout.txt` or `~/.steam/error.log`. Kind of new to Linux, sorry about that

[2019-11-08 21:59] sbernard31 commented on #38
Same problem for me. It seems this is because of missing libva.so.2.
See : https://steamcommunity.com/app/1046930/discussions/0/1638675549008848958/

I'm on debian 9 and there is no package which contain libva.so.2 (only libva.so.1)

[2019-11-08 22:01] dennis1du commented on #38
Wow, I see. Is there any fix? Thx

[2019-11-08 22:04] dennis1du commented on #38
Actually, I have neither libva.so.1 nor libva.so.2 in `Underlords/game/bin/linuxstreamrt64`

[2019-11-08 22:08] sbernard31 commented on #38
I'm not a dev of dotaunderlord, just a user.
In my case maybe upgrading to debian 10 should solve the problem as debian 10 seems to have this package in version 2, but this is a bit overkill !

@dennis1du try `dpkg -l | grep libva` in a terminal you should see the version of the package on your system.

@kisak-valve Is this new dependency expected ?

[2019-11-08 22:11] dennis1du commented on #38
Thanks so much! It seems the similar issue in the steam discussion!

[2019-11-08 22:18] sbernard31 commented on #38
@kisak-valve do not hesitate to ask me for more information (logs or dump).

[2019-11-08 22:18] kisak-valve commented on #38
Thanks @sbernard31, `libva.so.2` was [recently added](https://steamcommunity.com/groups/SteamClientBeta/announcements/detail/1600394952171527192) to Steam's runtime and will make its way into the next stable release of the Steam client.

You can opt into Steam's beta client (Steam -> Settings -> Beta participation) or for most currently supported distro releases with a command similar to `sudo apt

[2019-11-08 22:21] dennis1du commented on #38
Thanks so much. Will try that later.

[2019-11-08 22:38] sbernard31 commented on #38
@kisak-valve I just tested to use the [beta client](https://www.wikihow.com/Enable-Steam-Beta) and it works for me.

:pray:  thx !

[2019-11-12 23:00] dennis1du commented on #38
@kisak-valve The [beta client](https://www.wikihow.com/Enable-Steam-Beta) works very well. Thx so much! Guess this issue can be closed.

[2019-11-12 23:00] #38 closed, assigned to nobody

[2019-11-14 20:55] Yetoo1 commented on #14
I am having this issue on Fedora 30.

System info: https://web.archive.org/web/20191114204525/https://pastebin.com/09kEMVuT
Have you checked for system updates?: Yes
Are you using the latest stable video driver available for your system?: Yes
Have you verified the game files?: Yes

steam -vulkan_disable_steam_shader_cache doesn't work.

[2019-11-14 21:18] kisak-valve commented on #14
Hello @Yetoo1, your issue is unrelated to the issue which was tracked here. Please open a new issue report. Also, please verify the `mesa-vulkan-drivers` package is installed on your system.

[2019-11-14 21:47] Yetoo1 opened #39 "Fedora 30 - "Failed to initialize Vulkan. Please make sure your driver and GPU support Vulkan." when game is started"
#### Your system information

* System information from steam: https://web.archive.org/web/20191114204525/https://pastebin.com/09kEMVuT
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
Describe what you _expected_ should h

[2019-12-25 15:52] OBKF commented on #15
Same Issue here.

[2020-01-04 05:44] imran-iq opened #40 "Complete system freeze on linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/imran-iq/bacab88bbce525233b2061ae61fc1546
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes
* Have you verified the game files?: [Yes/No] Yes

[2020-01-12 20:02] imran-iq commented on #40
Just following up on this, I do not think this issue is related to the game but a bug in `amdgpu` for navi10 cards

see attached error  from journalctl from that boot: https://gist.github.com/imran-iq/b7db23652f0c64ac37b028521bf990dd

[2020-01-21 15:38] Yetoo1 commented on #39
This is still occurring on Fedora 31.
Updated system information: http://web.archive.org/web/20200121154727/https://pastebin.com/BdrqGaPg

[2020-02-14 17:38] ForeGone-G commented on #33
I am probably late to the party. Got kinda the same problem though.
Here are my [system specs](https://gist.github.com/ForeGone-G/2edb971f29e68974abc21847df324a73).

I got this problem on two games so far:
Wolcen, Version 1.0.1.0: (When a reward window pops up)
We Were Here Together: When entering the second level.

Unfortunately I cannot say if it's the same for me for Dota2, but it seems to be t

[2020-03-16 01:13] rafd opened #41 "Frequent crashing on Linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/rafd/3362ed9e7867090709d31e6e0c5b7efc/4e7b52374d5103c33cd1af5418b65cdc014af702
* Have you checked for system updates?: [Yes/No] Yes
* Are you using the latest stable video driver available for your system? [Yes/No] Yes (Nvidia 440.

[2020-03-16 17:00] rafd commented on #41
Here's a list of all the underlords kernel issues on my system since August (output of `journalctl -t kernel | grep underlords`:
https://gist.githubusercontent.com/rafd/3362ed9e7867090709d31e6e0c5b7efc/raw/bd33398a8a5f8d531f78364700a2c7de24d6ed7f/underlords_syslog.txt

[2020-03-23 09:55] sysofd commented on #39
Hello. Delete steam.sh and steam.csh from /etc/profile.d/. Reboot your system, it solved you problem.

[2020-03-25 00:25] remisalmon opened #42 "Core dump when quiting on Linux (no crash)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/remisalmon/e553458840cfb7df3de6d88245c79efc
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe yo

[2020-04-23 15:21] JesseDotEXE opened #43 "Launch Error - No Video"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/JesseDotEXE/fa89c1d5fb09d0f7858d31cdc7dd1f50
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes
* Have you verified the game files?: Yes

#### Please describe y

[2020-04-24 17:36] danginsburg commented on #43
This looks strange, I don't see any of the Vulkan initialization messages at all.  Are you running through Proton/Steam Play perhaps and not the actual native Linux version?

[2020-04-25 02:10] JesseDotEXE commented on #43
Shoot, you are right, sorry I did try to use Proton to see if that would resolve the issue.
Here is a new gist after a native reinstall: https://gist.github.com/JesseDotEXE/53e78d4cb5391f6f4e976feadeade97d

[2020-04-25 02:17] kisak-valve commented on #43
Hello @JesseDotEXE, it looks like Dota Underlords is trying to render with the AMD chipset. Maybe try adding `__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia %command%` to the game's launch options?

Alternatively, you could try to use a newer mesa build with the AMD chipset from a PPA like [oibaf](https://launchpad.net/~oibaf/+archive/ubuntu/graphics-drivers) or [kisak-mesa](https://

[2020-04-26 02:35] JesseDotEXE commented on #43
So, I guess this laptop has issues with the integrated graphics card. I'd say its a device issue on my part and we can close this.

[2020-04-26 02:35] #43 closed, assigned to nobody

[2020-04-27 18:30] akonyha opened #44 "Underlords hard crashing macOS at launch"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
https://gist.github.com/akonyha/30b7cdb58026af132d992360cf42c0fb
* Have you checked for system updates?: [Yes/No]
Yes
* Are you using the latest stable video driver available for your system? [Yes/No]
Yes
* Have you verified the game files?: [Yes/No]
Yes

[2020-04-29 02:29] akonyha commented on #44
<details><summary>Further here are logs from the hard crash:</summary><p>

[code]

</p></details>

[2020-05-16 22:39] chriszo111 opened #45 "Game froze immediately after start and could not be closed (Windows 10)"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/): https://gist.github.com/chriszo111/fe7b19393a525e92aae26b355fafec7a#file-steam_system_information
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes `445.87` (GeForce Game Ready Driver

[2020-05-16 22:45] kisak-valve commented on #45
Hello @chriszo111, this issue tracker is limited to issues with the Mac and Linux client of Dota Underlords. Please use https://underlords.com/feedback/ for your issue to reach the appropriate developers.

[2020-05-16 22:45] #45 closed, assigned to nobody

[2020-05-16 22:46] chriszo111 commented on #45
Just saw this issue tracker is only for Linux and macOS, but the issue seems related to similar freezes on Linux and macOS. Will report to said link as well.

[2020-05-18 15:24] chriszo111 commented on #45
Same freeze / timeout happens frequently now
https://gist.github.com/chriszo111/fe7b19393a525e92aae26b355fafec7a#file-console-log-18052020

[2020-05-18 15:35] chriszo111 commented on #45
I just checked `common\Underlords\game\dac\cfg\video.txt` where both `setting.nowindowborder` and `setting.fullscreen` were set to `1`. I set `fullscreen` to `0` and the game started without problems after. The in-game setting was `noborderwindow=1` and my best guess is `fullscreen` should have been `0`, but it wasn't set properly when updating the setting in-game.

[2020-06-17 10:40] chriszo111 commented on #44
I'm curious whether this is related to a config issue. Can you paste your `common\Underlords\game\dac\cfg\video.txt`?

[2020-09-06 18:30] ThaChillera opened #46 "Underlords not starting"
#### Your system information

* https://gist.github.com/ThaChillera/13b4cbf4e06b12d5f6647b927a6e3e4e
* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? No
* Have you verified the game files?: Yes

#### Please describe your issue in as much detail as possible:
Starting the game and nothing happens, besides steam showing I'm 'ingame'

[2020-09-07 17:52] ThaChillera commented on #46
After a restart its fixed, unsure what the original issue was. linux ¯\\_(ツ)_/¯

[2020-09-07 17:52] #46 closed, assigned to nobody

[2021-05-26 14:41] tuananh commented on #41
i have this issue too on latest kernel

[code]

[2021-06-03 22:16] Yetoo1 commented on #39
This still occurs on Fedora 33, but, if I use the Steam Linux Runtime, this error doesn't occur and I am able to play the game.
Updated system information: https://web.archive.org/web/20210604005107/https://pastebin.com/YWX7YjMe

Running ./underlords.sh yields:
[code]

Running STEAM_RUNTIME=0 ./underlords.sh failed with the following relevant error in output:
`failed to dlopen "libpangoft2-1.0.so"

[2021-08-23 18:43] erayerdin commented on #1
The game does not launch. Tried every solution in this issue. In my case, the log complains about it cannot find the display adapter:

<details>
<summary>Logs</summary>
<pre>
08/23 21:30:59 WARNING: CDirWatcher not implemented
08/23 21:30:59 [RenderSystem] Enabling instance extension: VK_KHR_get_physical_device_properties2.
08/23 21:30:59 No display adapters found. Falling back to software rasteri

[2021-08-23 18:55] kisak-valve commented on #1
Hello @erayerdin, the investigation of this issue report concluded in 2019 and your issue is unrelated.

That said, you have a Southern Island (SI) generation AMD video card. By default, the linux kernel uses the `radeon` kernel module with that video card generation, and the `radeon` kernel module is not compatible with Vulkan. You'd need to do something similar to https://github.com/ValveSoftwar

[2021-10-18 17:53] FHenry opened #47 "Dota Underlords crash on linux"
#### Your system information

* System information from steam (`Steam` -> `Help` -> `System Information`) in a [gist](https://gist.github.com/):
[systemsettings.txt](https://github.com/ValveSoftware/Dota-Underlords/files/7367502/systemsettings.txt)

* Have you checked for system updates?: Yes
* Are you using the latest stable video driver available for your system? Yes  470.74
* Have you verified

[2021-10-22 09:50] ghost commented on #47
i have the same issue on arch
[crash_20211022131713_2.txt](https://github.com/ValveSoftware/Dota-Underlords/files/7396123/crash_20211022131713_2.txt)
[steamlog.txt](https://github.com/ValveSoftware/Dota-Underlords/files/7396125/steamlog.txt)

[2021-10-22 12:30] kisak-valve commented on #47
For reference, the attached minidump is a SIGSEGV in librendersystemvulkan.so.

[2021-11-05 01:41] #4 closed, assigned to danginsburg

[2021-12-02 12:49] ghost commented on #47
is there any workaround?

[2021-12-21 04:57] BloodyIron commented on #47
I'm on 470.86 and crashing immediately...

running through proton seems to work, but like cmon VALVe

[2021-12-21 10:06] ghost commented on #47
Can you play online using proton?

[2021-12-22 19:45] BloodyIron commented on #47
Actually no it has issues connecting to steam servers, yet... shows my profile??? so weird...

[2022-01-08 07:01] #33 closed, assigned to nobody

[2022-01-11 01:48] PTsuarez commented on #47
Having the same issue, immediate crash on the native version and the inability to play while running it through proton. Works fine on windows and android though.

There doesn't seem to be a fix that I can find and steam support referred me here... so I guess it's just bot games from now on.

[2022-01-24 16:59] jecs commented on #47
I upgraded my drivers to 470 and am now having the same issue. The game won't launch with vulkan. Proton lacks online play. opengl gives me a blank screen.

[2022-01-27 18:27] FHenry commented on #47
Same symptoms with Nvidia 495.46

[2022-02-04 04:41] jecs commented on #47
Upgrading to driver 510 seems to have fixed all issues, not just in Dota Underlords but also in Dota 2. See a related issue [here](https://github.com/ValveSoftware/Dota-2-Vulkan/issues/393). Driver 510 came out recently in the PPAs.

[2022-02-04 06:57] PTsuarez commented on #47
Can you log in properly and play online?

[2022-02-04 15:28] jecs commented on #47
Yes.

[2022-02-17 05:33] #47 closed, assigned to nobody